.dropdownItem {
  font-size:18px;
  float:right;
  margin:10px 10px 0 0;
}

.ui-helper-clearfix {
  border-bottom:1px solid #D5D5D5
}

.radio-margin {
  margin: 10px 10px 10px 10px;;
}

.adding-container {
  border-top:1px solid #D5D5D5;
  margin: 0 10px;
  padding-top: 10px;
}
