<md-card class="room-card">
  <md-card-header>
    <div md-card-avatar class="room-header-image"></div>
    <md-card-title>{{room.name}}</md-card-title>
    <md-card-subtitle>height: {{room.height}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <app-wall-card [room]="room"></app-wall-card>
  </md-card-content>
  <md-card-actions>
    <button md-button [routerLink]="['/walls/' + room.facility.id + '/' + room.id]">Add Wall</button>
    <button md-button (click)="deleteRoom(room)">Delete Room</button>
    <button md-button [routerLink]="['/facilityEquipment/' + room.id + '/ROOM']">Add Materials</button>
  </md-card-actions>
</md-card>
